<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Авторизация</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>
<body>


<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>Войти</h2>
            <p>У вас уже есть логин?</p>
            <button class="btn_login" onclick="cambiar_login()">Войти</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>Регистрация</h2>
            <p>Нет логина?</p>
            <button class="btn_sign_up" onclick="cambiar_sign_up()">Зарегистрироваться</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey">
          <img th:src="@{img/bg.jpg}" src="../static/img/bg.jpg" alt="" />
        </div>
      </div>
      <div class="cont_forms">
        <div class="cont_img_back_">
          <img th:src="@{img/bg.jpg}" src="../static/img/bg.jpg" alt="" />
        </div>

        <form th:action="@{/login}" th:object="${userForm}" method="post">
        <div class="cont_form_login">
          <h2>Войти</h2>
          <input type="text" placeholder="E-mail"  th:field="*{username}"/>
          <input type="password" placeholder="Пароль" th:field="*{password}"/>
          <button class="btn_login" onclick="cambiar_login()">Войти</button>
        </div>
        </form>


        <form >
        <div class="cont_form_sign_up">
          <h2>Регистрация</h2>
          <input type="text" placeholder="E-mail" />
          <input type="text" placeholder="Логин" />
          <input type="password" placeholder="Пароль" />
          <input type="password" placeholder="Повторите пароль" />
          <button class="btn_sign_up" onclick="cambiar_sign_up()">Зарегистрироваться</button>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>

  <script th:src="@{js/index.js}" src="../static/js/index.js"></script>
</body>
</html>
